@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #e9ebee;
  color: #000000c1;
  font-family: 'Hiragino Sans', 'sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0b214a;
}

/* メインコンテンツ */
.contents {
  max-width: 800px;
  min-height: 100vh;
}
