@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #4b5563;
  background: #ffffff;
}

/* base */
@layer base {
  html {
    font-family: 'Hiragino Sans', 'sans-serif';
    background: #fafafa;
  }
}

/* 全体 */
.main-contents {
  @apply bg-white min-h-screen w-full pt-20;
}

/* トップページ以外のコンテンツ */
.contents-wrapper {
  @apply px-4 md:px-8 w-full bg-mainBg py-8 min-h-screen;
}

/* マークダウン */
.contents-md {
  h1 {
    @apply text-center font-bold text-3xl mb-4;
  }
  h2 {
    @apply font-bold text-2xl;
  }
  h3 {
    @apply font-bold text-xl my-4 border-b-2 bg-gradient-to-b border-gray-300;
  }
  ol {
    @apply list-decimal mt-4 pl-4;
    li {
      @apply mb-2;
    }
  }
}
