.section-white {
  width: 100%;
  background: #ffffff;
}
.section-gray {
  width: 100%;
  background: #f3f4f6;
}

.section-top {
  // background: gray;
  max-width: 64rem;
  margin: 2rem auto;
  padding: 0 2rem;
  height: 100%;
}
